# Python virtual environment
.venv/
env/
venv/
data-visualizer-streamlit\venv
data-visualizer-streamlit\.venv
# Bytecode and cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Don't upload weights
sam_model/
sam2/
checkpoints/
*.pt
